<body class="intro-image">
    <div class="position-absolute top-5 start-0 translate-middle-y">
        <img src="../../../assets/icon.svg">
    </div>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" novalidate>
    <div class="container">
        <div class="row">
                <div class="col-3 position-absolute top-25 end-0 translate-middle-x">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" href="#">Criar conta</a>
                                </li>
                            </ul>
                        </div>
                        <!-- <router-outlet></router-outlet> -->
                        <div class="card-body">
                            <div class="mb-3 px-5">
                                <label for="loginEmailInput" class="form-label">E-mail</label>
                                <input
                                name="email"
                                #emailInput="ngModel"
                                ngModel
                                required
                                email
                                type="email"
                                class="form-control"
                                id="loginEmailInput"
                                placeholder="teste@gmail.com">
                            </div>

                            <div class="mb-5 px-5">
                                <label for="loginSenhaInput" class="form-label">Senha</label>
                                <input
                                type="password"
                                class="form-control"
                                id="loginSenhaInput"
                                name="senha"
                                #senhaInput="ngModel"
                                ngModel
                                required
                                minlength="3"
                                placeholder="******">
                            </div>
                            <div class="mb-3 text-center">
                                <app-load-button [label]="'Login'"></app-load-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
