<body class="intro-image">
  <div class="container">
    <div class="row">
      <div class="col-3 position-absolute top-25 end-0 translate-middle-x">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link text-primary" routerLinkActive="active text-dark" [routerLink]="'./login'">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" routerLinkActive="active text-dark"  [routerLink]="'./criar-conta'">Criar conta</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
