<div class="row">
  <div class="col-auto">
    <h1>Agendamentos</h1>
  </div>
  <div class="col-auto align-self-center">
    <button type="button" class="btn btn-outline-primary px-2 mx-3" [routerLink]="['../']">Cancelar</button>
  </div>
</div>

<div class="row my-4 m-auto">
  <div class="col-auto m-auto">
    <h2>Primeiro, escolha uma aula ou atividade</h2>
  </div>
</div>

<div class="row m-auto">
  <div class="col-auto m-auto">
    <!-- Example single danger button -->
    <div>
      <label>Aula/Atividade</label>
    </div>
    <button type="button" class="btn btn-primary dropdown-toggle px-4" data-bs-toggle="dropdown" aria-expanded="false">
      {{atividadeSelecionada? atividadeSelecionada.nomeAtividade : 'Selecione'}}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let atividade of usuarioAtividades">
        <a class="dropdown-item" (click)="onSelecionarAtividade(atividade)">{{atividade.nomeAtividade}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row m-auto mt-5 aviso-pop" *ngIf="!paginacaoList.empty && atividadeSelecionada">
  <div class="col-auto m-auto p-4">
    <i class="fa-solid fa-circle-info me-2 text-primary"></i>
    <span class="fs-6">De acordo com o seu plano, você pode fazer até {{atividadeSelecionada?.quantidadeSemana}} agendamentos nesta atividade</span>
  </div>
</div>

<div class="row my-5" *ngIf="!paginacaoList.empty && atividadeSelecionada">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Está agendado</th>
        <th>Turma</th>
        <th>Dia da semana</th>
        <th>Horário</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let alocacao of paginacaoList.content">
        <td>
          <div class="form-check">
            <input class="form-check-input m-auto" type="checkbox" [value]="alocacao.estaAgendado" id="flexCheckChecked"
              [checked]="alocacao.estaAgendado" (click)="onAlterarAgendamento(alocacao)" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Tooltip on bottom" [title]="alocacao.estaAgendado?
              'Você já está agendado para esta aula/atividade' :
              'Você não está agendado para esta aula/atividade'">
          </div>
        </td>
        <td>{{alocacao.nomeTurma}}</td>
        <td>{{alocacao.nomeDiaSemana}}</td>
        <td>{{alocacao.horaInicio}} - {{alocacao.horaFim}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="paginacao">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="paginaAtual === 0? 'disabled': ''" (click)="onPaginaAnterior()">
        <a class="page-link">Anterior</a>
      </li>
      <li class="page-item" [ngClass]="page === paginaAtual? 'active' : ''" *ngFor="let page of paginasTotais"
        (click)="onPage(page)">
        <a class="page-link">{{page + 1}}</a>
      </li>
      <li class="page-item" [ngClass]="paginaAtual === (paginasTotais.length -1)? 'disabled': ''"
        (click)="onProximaPagina()">
        <a class="page-link">Próxima</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row my-5" *ngIf="paginacaoList.empty && atividadeSelecionada">
  <div class="col-12 text-center">
    <p style="font-size: 18px;">Infelizmente, esta aula/atividade ainda não possui nenhuma turma definida ainda. <br />
      Volte novamente mais tarde!
    </p>
  </div>
</div>
