<form (submit)="onCriarConta(criarContaForm)" #criarContaForm="ngForm" novalidate class="needs-validation">
  <div class="mb-3 px-5">
    <label for="signInNomeInput" class="form-label">Nome</label>
    <input name="nome" required #nomeInput="ngModel" ngModel nome type="text" class="form-control"
    [ngClass]="nomeInput.touched && nomeInput.errors? 'is-invalid': ''"
      id="signInNomeInput" placeholder="Digite seu nome">
      <div class="invalid-feedback">
        Preencha com um nome
      </div>
  </div>

  <div class="mb-3 px-5 form-group">
    <label for="signInEmailInput" class="form-label">E-mail</label>
    <input name="email" required #emailInput="ngModel" ngModel email type="email" class="form-control"
    [ngClass]="emailInput.touched && emailInput.errors? 'is-invalid': ''"
      id="signInEmailInput" placeholder="Digite seu e-mail">
      <div class="invalid-feedback">
        Digite um e-mail válido
      </div>
  </div>

  <div class="mb-5 px-5 form-group">
    <label for="signInSenhaInput" class="form-label">Senha</label>
    <input type="password" class="form-control" id="signInSenhaInput" name="senha" required #senhaInput="ngModel" ngModel
      minlength="3" placeholder="Digite uma senha"
      [ngClass]="senhaInput.touched && senhaInput.errors? 'is-invalid': ''">
      <div class="invalid-feedback">
        No mínimo, 3 caracteres
      </div>
  </div>
  <div class="mb-3 text-center" disabled>
    <app-load-button [form]="criarContaForm" [label]="'Criar conta'"></app-load-button>
  </div>
</form>
