.intro-image {
  background-image: url('../../assets/imgs/home.jpg');
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.h1-display {
  font-size: 64px;
  margin-top: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
